// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  margin: 0;
  padding: 0;
}

form {
  background: #f2f6fc;
  padding: 10px 20px;
}

.post {
  background: #fafcfe;
  padding: 10px 20px;
  margin-top: 5px;
}

#dnd-area {
  min-height: 200px;
  background: #e1eaf8;
  border: 3px dashed #9fbde9;

  &.dragover {
    background: #c0d3f0;
  }
}
