// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  margin: 0;
  padding: 0;
}

form {
  background: #f2f6fc;
  padding: 10px 20px;
}

.post {
  background: #fafcfe;
  padding: 10px 20px;
  margin-top: 5px;
}
